.navbarset{
  background-color: #56fd96;
}

.navbarimage{
  width: 23px;
}

#app1{
  width: 500px;
  margin: 0 auto;
}

[v-cloak]{
	display: none;
}

* {
	padding: 0;
	margin: 0;
}

.message{
	width: 450px;
	text-align: right;
}

.message div{
	margin-bottom: 12px;
}

.message span{
	display: inline-block;
	width: 100px;
	vertical-align: top;
	margin-top: 20px;
	text-align:right;
}

.message textarea{
	width:300px;
	height: 32px;
	padding: 0 6px;
	margin-top: 20px;
	color: #657180;
	border: 1px solid #d7dde4;
	border-radius: 4px;
	cursor: text;
	outline: none;
}

.message textarea:focus{
	border: 1px solid #3399ff;
}

.message textarea{
	height: 60px;
	padding: 4px 6px;
}

.message button{
	display: inline-block;
	padding: 6px 15px;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}

.list{
	margin-top: 50px;
}

.list-item{
	padding: 10px;
	border-bottom: 1px solid #e3e8ee;
	overflow: hidden;
}

.list-item span{
	display: block;
	width: 60px;
	float: left;
	color:rgb(51, 177, 51);
	text-align:right;
}

.list-msg{
	display: block;
	margin-left: 60px;
	text-align: justify;
}

.list-msg button{
	margin-right: 4px;
	cursor: pointer;
	float: right;
}

.list-msg span{
	float: right;
	font-size: 14px;
	text-align: justify;
	color: rgb(0, 0, 0);
}

.list-nothing{
	text-align: center;
	color: #9EA7B4;
	padding: 20px;
}

#username{
	font-size: 20px;
	line-height: 42px;
}

#show-message{
	word-wrap:break-word;
	margin-left: 4px;
}