.navbarset{
  background-color: #56fd96;
}

.navbarimage{
  width: 23px;
}

.attendButton{
	margin: 10px 0px 5px 25px;
	float:left;
}

#search-btn{
	width:350px;
	margin: 10px 50px 5px 25px;
	float:right;
}