html { visibility: hidden; }

body{
  background-color: lightgray;/*#d3d3d3*/
  font-family: "微軟正黑體";
}

/*navbar*/
.navbarset{
  background-color: #CCFF99;
}

.navbarimage{
  width: 23px;
  height:40px;
  max-width:100%;
  max-height:100%;
}

p{
  font-size: 16px;
}

#username{
  font-size: 20px;
  line-height: 42px;
}
/*navbar end*/

.problemLib{
  max-width: 1300px;
  min-height: 600px;
  max-height: 1300px;
  padding: 30px;
  margin: 30px auto;
  background-color: #f9fafb;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 10px;
}


/*Table設定 */
.problemTable{
  width:100% ;
  border-collapse:collapse ;
}
.problemTable td:nth-child(1){
  width:6% ;
}
.problemTable td:nth-child(2){
  width:60% ;
}
.problemTable td:nth-child(3){
  width:8% ;
}
.problemTable td:nth-child(4){
  width:8% ;
}
.problemTable td:nth-child(5){
  width:5% ;
}
.problemTable td:nth-child(6){
  width:5% ;
}
.problemTable td:nth-child(7){
  width:8% ;
}
/* 
.problemTable td{
  padding: 8px;
  border-bottom: 0.5px solid lightgray;
}
.problemTable tr:nth-child(1){
  padding: 5px;
  border-bottom: 3px solid #3cb371;
  border-top: 3px solid  #3cb371;
  font-weight: bold;
}
/* Table設定 end */