/*下面設定檔記得丟到所屬頁面的css檔裡*/
.navbarset{
    background-color: #CCFF99;
  }
  
  .navbarimage{
    width: 23px;
    height:40px;
    max-width:100%;
    max-height:100%;
  }
  
  p{
    font-size: 16px;
  }
  
  #username{
    font-size: 20px;
    line-height: 52px;
  }
  
  .img-home{
    width:130px;
    height:40px;
    max-width:100%;
    max-height:100%;
  }