{%load static%}
<div id="app">

    <head>
        <link rel='stylesheet' href='http://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='http://unpkg.com/bootstrap-vue@2.0.2/dist/bootstrap-vue.css'>
        <link rel="stylesheet" href="{% static 'register/index.css'%}">
    </head>

    <body>
        <!-- navbar -->
        <div style="border-bottom: 4px solid MediumSeaGreen">
            <b-navbar toggleable="lg" type="light" variant="light">
                <b-navbar-brand href="#">GreenTeam</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item href="#">Problems</b-nav-item>
                        <b-nav-item href="#">Ranking</b-nav-item>
                    </b-navbar-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <!-- change Login and Register to button -->
                        <b-nav-item href="#">Login</b-nav-item>
                        <b-nav-item href="#">Register</b-nav-item>
                    </b-navbar-nav>

                </b-collapse>
            </b-navbar>
        </div>
        <!-- navbar end -->

        <!-- mainBlock -->
        <div class="mainBlock">
            <h1 class="bigTitle">Register</h1>

            <!-- change, tag href -->


            <div class="container">
                <form class="form-horizontal" data-toggle="validator" role="form" method="post" novalidate="true">{%csrf_token%}

                    <div class="form-group">
                        <label for="id_username" class="col-sm-2 control-label">帳號 :</label>
                        <div class="col-sm-10">
                            <input size="40" name="account" type="text" id="id_account" autocomplete="off" value=""
                                required="">
                            <input type="hidden" name="CSRF_KEY" value="2050849946">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="id_username" class="col-sm-2 control-label">使用者名稱 :</label>
                        <div class="col-sm-10">
                            <input size="40" name="username" type="text" id="id_username" autocomplete="off"
                                required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_password" class="col-sm-2 control-label">密碼 :</label>
                        <div class="col-sm-10">
                            <input size="40" name="password" type="password" id="id_password" autocomplete="off"
                                value="" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_password" class="col-sm-2 control-label">確認密碼 :</label>
                        <div class="col-sm-10">
                            <input size="40" name="comfirm_password" type="password" id="id_comfirm_password"
                                autocomplete="off" value="" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_email" class="col-sm-2 control-label">電子郵件信箱 :</label>
                        <div class="col-sm-10">
                            <input size="40" name="email" type="text" id="id_email" autocomplete="off" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_identify" class="col-sm-2 control-label">身份 :</label>
                        <div class="col-sm-10">
                            &nbsp;&nbsp;&nbsp;<input size="40" name="identify" type="radio" id="id_identify_student"> 學生
                            <br>
                            &nbsp;&nbsp;&nbsp;<input size="40" name="identify" type="radio" id="id_identify_teacher"> 教師
                        </div>
                    </div>

                    <br>
                    <hr style="border: 1px solid #999;">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input name="submit" class="btn btn-primary disabled" type="submit" value="建立帳號"
                                style="background-color: #237ACC; font-size: 20px; padding: 10px 58px; color: #fff; margin-right: 20px;">
                            <a class="btn btn-default" id="id_cancel" style="font-size: 20px; padding: 10px 58px;"
                                href="https://i.ytimg.com/vi/HQEZGEn2Eh0/hqdefault.jpg" role="button">取消</a>

                        </div>
                    </div>
                </form>

            </div>
            <!-- mainBlock end -->
    </body>
    <script src='http://unpkg.com/babel-polyfill/dist/polyfill.min.js'></script>
    <script src='http://unpkg.com/vue@2.6.10/dist/vue.js'></script>
    <script src='http://unpkg.com/bootstrap-vue@2.0.2/dist/bootstrap-vue.js'></script>
    <script src="{% static 'register/index.css'%}"></script>
</div>