.navbarset{
  background-color: #56fd96;
}

.navbarimage{
  width: 23px;
}

.attendButton{
	margin: 10px 0px 5px 8px;
	float:left;
}

#search-btn{
	width:350px;
	margin: 10px 8px 5px 5px;
	float:right;
}

.alert{
	margin: 10px 8px 5px 5px;
	height:38px;
	float:right;
	text-align:center;
	line-height:14px;
}

.close{
	line-height:13px;
}

#username{
  font-size: 20px;
  line-height: 42px;
}