<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>A Problem Page</title>
  <meta name="viewport" content="width=device-width">
  <link rel='stylesheet' href='http://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='http://unpkg.com/bootstrap-vue@2.0.2/dist/bootstrap-vue.css'>
  <link rel="stylesheet" href="../css/problem.css">
</head>

<body>
  <!-- partial:index.partial.html -->

  <body>
    <!-- navbar -->
    <div id="app1" style="border-bottom: 4px solid MediumSeaGreen">
      <b-navbar toggleable="lg" type="light" variant="light">
        <b-navbar-brand href="#">GreenTeam</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item href="#">Problems</b-nav-item>
            <b-nav-item href="#">Ranking</b-nav-item>
          </b-navbar-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <!-- change Login and Register to button -->
            <b-nav-item href="#">Login</b-nav-item>
            <b-nav-item href="#">Register</b-nav-item>
          </b-navbar-nav>

        </b-collapse>
      </b-navbar>
    </div>
    <!-- navbar end -->
    <!-- mainBlock1 -->
    <div class="mainBlock1">
      <h1 class="bigTitle">Title</h1>
      <!-- change, tag href -->
      <p>#Tag1 #Tag2</p>
      <h4 class="smallTitle">Description</h4>
      <p class="content">Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A
        plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B.
        Calculate A plus B. Calculate A plus B.Calculate A plus B. Input: Two integers seperated by a space. Output: Sum
        of the two integers.</p>
      <!-- <h4 class="smallTitle">Input</h4> -->
      <!-- <p class="content">Input: Two integers seperated by a space.</p> -->
      <!-- <h4 class="smallTitle">Output</h4> -->
      <!-- <p class="content">Output: Sum of the two integers.</p> -->

      <div class="sampleInOutContainer">
        <div class="sampleInOut">
          <span class="smallTitle">Sample Input</span>
          <img id="imgCopyIn" src="../image/copy.svg" alt="" onclick="copyFn('sampleIn')">
          <pre id="sampleIn" class="samplePre">1 2</pre>
        </div>
        <div class="sampleInOut">
          <span class="smallTitle">Sample Out</span>
          <img id="imgCopyOut" src="../image/copy.svg" alt="" onclick="copyFn('sampleOut')">
          <pre id="sampleOut" class="samplePre">3</pre>
        </div>
      </div>

    </div>
    <!-- mainBlock1 end -->
    <!-- mainBlock2 -->
    <div class="mainBlock2">
      <div id="app2">
        <!-- tooltip for copy SampleInOut -->
        <b-tooltip target="imgCopyIn" title="Copy the sample input"></b-tooltip>
        <b-tooltip target="imgCopyOut" title="Copy the sample output"></b-tooltip>
        <transition name="slide-fade">
          <div class="copyPopup" v-if="showCopyPopup">
            <p>Copied!</p>
          </div>
        </transition>
        <!-- tooltip for copy SampleInOut end -->
        <span style="font-size: 18px; position: relative; top: 3px">Language:</span>
        <b-dropdown variant="light" v-bind:text="langDisplay">
          <b-dropdown-item v-on:click="clickLang('C++', 'cpp')">C++</b-dropdown-item>
          <b-dropdown-item v-on:click="clickLang('C','c')">C</b-dropdown-item>
          <b-dropdown-item v-on:click="clickLang('Python', 'python')">Python</b-dropdown-item>
        </b-dropdown>
      </div>
      <div class=" aceEditorContainer">
        <pre id="aceEditor">
#include < iostream>
using namespace std;

int main()
{
    int a, b;
    cin >> a >> b;
    cout << a+b;
    return 0;
}</pre>
      </div>
      <div id="app3">
        <div style="position: relative; height: 60px">
          <b-button disabled class="btnTest" pill variant="outline-secondary">Test</b-button>
          <b-button class="btnSubmit" v-on:click="testPost()" pill variant="outline-secondary">Submit</b-button>
        </div>
        <!-- resultBlcok -->
        <transition name="slide-fade">
          <div v-bind:class="resultClass" v-if="showResult">
            <!-- <p>{{ responseObj.codeStats }}</p>
            <p>execution time: {{ responseObj.exeTime }}</p>
            <p>error message: {{ responseObj.errorMessage }}</p> -->
            <p>sent a request. Open DevTools and look for console.</p>
          </div>
        </transition>
      </div>
    </div>
    <!-- mainBlock2 end -->
  </body>
  <!-- partial -->
  <script src='http://unpkg.com/babel-polyfill/dist/polyfill.min.js'></script>
  <script src='http://unpkg.com/vue@2.6.10/dist/vue.js'></script>
  <script src='http://unpkg.com/bootstrap-vue@2.0.2/dist/bootstrap-vue.js'></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../js/problem.js"></script>
  <!-- set ace -->
  <script src="../js/lib/ace-builds-master/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script>
    var editor = ace.edit("aceEditor");
    editor.setTheme("ace/theme/tomorrow");
    editor.session.setMode("ace/mode/c_cpp");
  </script>
</body>

</html>