<!-- version: 1911162 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>A Problem Page</title>
  <meta name="viewport" content="width=device-width">
  <link rel='stylesheet' href='http://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='http://unpkg.com/bootstrap-vue@2.0.2/dist/bootstrap-vue.css'>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href={% static "polls/css/problem.css" %}>
</head>

<body class="w3-animate-opacity">
  <!-- partial:index.partial.html -->
  <!-- navbar -->
  <div id="app1" class="w3-animate-top" style="border-bottom: 4px solid MediumSeaGreen">
    <b-navbar toggleable="lg" type="light" variant="light">
      <b-navbar-brand href="#">GreenTeam</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#">Problems</b-nav-item>
          <b-nav-item href="#">Ranking</b-nav-item>
        </b-navbar-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="#">Login</b-nav-item>
          <b-nav-item href="#">Register</b-nav-item>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
  </div>
  <!-- navbar end -->
  <!-- mainBlock1 -->
  <div class="mainBlock1 w3-animate-zoom">
    <h1 class="bigTitle">Title</h1>
    <p>#Tag1 #Tag2</p>
    <p class="smallTitle">Description</p>
    <p class="content">Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B. Calculate A plus B.Calculate A plus B. Input: Two integers seperated by a space. Output: Sum of the two integers.
      white-space test              white-space test
    </p>
    <div class="sampleInOutContainer">
      <div class="sampleInOut">
        <span class="smallTitle">Sample Input</span>
        <img id="imgCopyIn" src={% static "polls/image/copy.svg" %} alt="" onclick="copyFn('sampleIn')" style="cursor: pointer;">
        <pre id="sampleIn" class="samplePre">1 2</pre>
      </div>
      <div class="sampleInOut">
        <span class="smallTitle">Sample Out</span>
        <img id="imgCopyOut" src={% static "polls/image/copy.svg" %} alt="" onclick="copyFn('sampleOut')" style="cursor: pointer;">
        <pre id="sampleOut" class="samplePre">3</pre>
      </div>
    </div>

  </div>
  <!-- mainBlock1 end -->
  <!-- mainBlock2 -->
  <div class="mainBlock2 w3-animate-bottom">
    <div id="app2" style="position: relative;">
      <!-- tooltip for copy SampleInOut -->
      <b-tooltip target="imgCopyIn" title="Copy the sample input"></b-tooltip>
      <b-tooltip target="imgCopyOut" title="Copy the sample output"></b-tooltip>
      <transition name="slide-fade-popup">
        <div class="copyPopup" v-show="showCopyPopup">
          <p>Copied!</p>
        </div>
      </transition>
      <!-- tooltip for copy SampleInOut end -->
      <div class="d-flex langThemeFlexBox">
        <!-- Lang dropdown -->
        <div class="flex-fill">
          <span class="langLbl">Language:</span>
          <b-dropdown variant="light" v-bind:text="langDisplay">
            <b-dropdown-item v-on:click="clickLang('C++', 'cpp')">C++</b-dropdown-item>
            <b-dropdown-item v-on:click="clickLang('C','c')">C</b-dropdown-item>
            <b-dropdown-item v-on:click="clickLang('Python', 'python')">Python</b-dropdown-item>
          </b-dropdown>
        </div>
        <!-- Lang dropdown end -->
        <!-- select form -->
        <div class="themeFlexBox">
          <span class="themeLbl">Theme:</span>
          <b-form-select class="themeSelect" v-model="themeSelected" v-on:change="clickTheme()" :options="themeOptions">
          </b-form-select>
        </div>
        <!-- select form end -->
        </div>
    </div>
    <div id="aceEditorContainer" class=" aceEditorContainer">
      <pre id="aceEditor">
#include < iostream>
using namespace std;

int main()
{
  int a, b;
  cin >> a >> b;
  cout << a+b;
  return 0;
}</pre>
    </div>
    <!-- dragbar -->
    <div class="dragbar" id="dragbar"></div>
    <!-- dragbar end -->
    <div id="app3">
      <div class="d-flex justify-content-end mb-3">
        <transition name="fade">
          <b-spinner v-if="showSpinner" variant="secondary" label="Spinning"></b-spinner>
        </transition>
        <b-button class="mr-1 ml-3" disabled pill variant="outline-secondary">Test</b-button>
        <b-button class="mx-1" v-on:click="submitCode()" pill variant="outline-secondary">Submit</b-button>
      </div>
      <!-- resultBlcok -->
      <transition name="slide-fade">
        <div class="resultGreen" v-if="showAC">
          <span class="codeStats">${ codeStats }</span>
          <span>( ${ exeTime } )</span>
        </div>
      </transition>
      <transition name="slide-fade">
        <div class="resultRed" v-if="showCE">
          <span class="codeStats">${ codeStats }</span>
          <p>${ errorMessage }</p>
        </div>
      </transition>
      <transition name="slide-fade">
        <div class="resultRed" v-if="showTLE">
          <span class="codeStats">${ codeStats }</span>
          <span>( ${ exeTime } )</span>
        </div>
      </transition>
      <transition name="slide-fade">
        <div class="resultRed" v-if="showWA">
          <span class="codeStats">${ codeStats }</span>
        </div>
      </transition>
      <transition name="slide-fade">
        <div class="resultRed" v-if="showMLE">
          <span class="codeStats">${ codeStats }</span>
        </div>
      </transition>
      <transition name="slide-fade">
        <div v-if="showERR">
          <p class="codeStats">Network error! Please try again.</p>
        </div>
      </transition>
      <!-- resultBlcok end -->
    </div>
  </div>
  <!-- mainBlock2 end -->
  <!-- partial -->
  <script src='http://unpkg.com/babel-polyfill/dist/polyfill.min.js'></script>
  <script src='http://unpkg.com/vue@2.6.10/dist/vue.js'></script>
  <script src='http://unpkg.com/bootstrap-vue@2.0.2/dist/bootstrap-vue.js'></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- set ace -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js" integrity="sha256-CVkji/u32aj2TeC+D13f7scFSIfphw2pmu4LaKWMSY8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ext-language_tools.js" integrity="sha256-5GsAp93HE/XYlhrUPMw4VBAoawG9n3c7+DbQE4tRwW0=" crossorigin="anonymous"></script>
  <script src={% static "polls/js/problem.js" %}></script>
</body>

</html>